<div class="Locker" [ngClass]="{'Show': product.Id != null}">
  <div class="Wrapper">
      <div class="ProductViewer">
        <div class="Content">
          <div class="Images">
            <img *ngFor="let Image of product.Images" [src]="Image" (click)="SelectImage(Image)">
          </div>
          <div class="Image">
            <img [src]="SelectedImage">
          </div>
          <div class="Info">
            <div class="Data Name">{{product.Name}}</div>
            <div class="Data Type">{{product.Type.Name}}</div>
            <div class="Data Description">{{product.Description}}</div>
            <div class="Specs">
              <div class="Row" *ngFor="let Spec of product.Specs" >
                <label>{{Spec.Key}}</label>
                <span>{{Spec.Value}}</span>
              </div>
            </div>
            <div class="Data Price">Q {{product.Price}}</div>
            <div class="Data Quantity">
              <button (click)="More()">+</button>
              <input [(ngModel)]="product.Quantity" type="number">
              <button (click)="Less()">-</button>
            </div>
          </div>
        </div>
        <div class="Buttons">
            <button (click)="Close()" >X</button>
            <button (click)="AddToCart()">
              <img src="../../../assets/images/BuyCart.png">
            </button>
        </div>
      </div>
  </div>
</div>
